{% set form = craft.formBuilder2.getFormByHandle('contact') %}
{% set formSettings = form.formSettings %}
{% set spamProtectionSettings = form.spamProtectionSettings %}
{% set tabs = form.fieldLayout.getFieldLayout().getTabs() %}
{% set scripts = craft.formBuilder2.includeScripts(form) %}
<form method="post" accept-charset="utf-8" name="{{ form.handle }}" class="formbuilder2" id="form-{{ form.handle }}">
  <input type="hidden" name="action" value="formBuilder2/entry/submitEntry">
  <input type="hidden" name="formHandle" value="{{ form.handle }}">
  <input type="hidden" name="redirect" data-custom-redirect="{{ formSettings.formRedirect.customRedirect }}" value="{{ formSettings.formRedirect.customRedirectUrl }}">
  {% if spamProtectionSettings.spamHoneypotMethod == '1' %}<div style="display:none;"><label for="email-addresss-new">{{ spamProtectionSettings.spamHoneypotMethodMessage }}</label><input name="email-address-new" value="" id="email-addresss-new"></div>{% endif %}
  {{ getCsrfInput() }}
  
  {# Fields #}
  <div class="triangle desktop-tablet-only">
    <select name="eventType">
      <option value="" disabled selected>Event Type</option>
      <option value="Birthday party">Birthday party</option>
      <option value="Charity event">Charity event</option>
      <option value="Christmas party">Christmas party</option>
      <option value="Corporate event">Corporate event</option>
      <option value="Halloween party">Halloween party</option>
      <option value="Wedding">Wedding</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <input type="text" name="fullName" class="mobile-only" placeholder="Name">
  <div class="grid desktop-tablet-only">
    <div class="col col-1-of-2">
      <input type="text" name="firstName" placeholder="First Name">
    </div>
    <div class="col col-1-of-2">
      <input type="text" name="lastName" placeholder="Last Name">
    </div>
  </div>
  <div class="grid">
    <div class="col col-1-of-3">
      <input type="tel" name="phoneNumber" placeholder="Phone Number" required>
    </div>
    <div class="col col-2-of-3">
      <input type="email" name="email" placeholder="Email" required>
    </div>
  </div>
  <div class="grid">
    <div class="col col-1-of-3 triangle">
      <input type="text" name="eventDate" placeholder="Event Date" class="datepicker" required>
    </div>
    <div class="col col-1-of-3 triangle desktop-tablet-only">
      <select name="eventStartTime">
        <option value="" disabled selected>Event Start Time</option>
        {% include 'include/_time.twig' %}
      </select>
    </div>
    <div class="col col-1-of-3 triangle desktop-tablet-only">
      <select name="eventEndTime">
        <option value="" disabled selected>Event End Time</option>
        {% include 'include/_time.twig' %}
      </select>
    </div>
  </div>
  <textarea class="mobile-only" rows="4" name="message" placeholder="Message"></textarea>
  <div class="grid desktop-tablet-only">
    <div class="col col-1-of-2">
      <input type="text" name="eventName" placeholder="Event Name">
    </div>
    <div class="col col-1-of-2">
      <input type="text" name="eventLocation" placeholder="Event Location">
    </div>
  </div>
  <div class="grid">
    <div class="col col-1-of-2 triangle">
      <select name="howDidYouFindUs">
        <option value="" disabled selected>How Did You Find Us</option>
        <option value="Search engine">Search engine</option>
        <option value="Social media">Social media</option>
        <option value="Referral">Referral</option>
        <option value="Event">Event</option>
        <option value="Forum or Blog">Forum or Blog</option>
        <option value="Other">Other</option>
      </select>      
    </div>
    <div class="col col-1-of-2 triangle desktop-tablet-only">
      <select name="experiencePackage">
        <option value="" disabled selected>Experience Package</option>
        <option value="THE UPTOWN">THE UPTOWN</option>
        <option value="THE GROVE">THE GROVE</option>
        <option value="THE KESSLER">THE KESSLER</option>
        <option value="THE CLIFF">THE CLIFF</option>
        <option value="HEADSHOTS">HEADSHOTS</option>
      </select>  
    </div>
  </div>


  

  <button type="submit" class="btn btn-submit">Send Message</button>

  {# Errors/Success Messages #}
  <div class="notifications">
    <p class="notification error-message">{{ craft.session.getFlash('error') | raw }}<p>
    <p class="notification success-message">{{ craft.session.getFlash('success') | raw }}</p>
    {% set errors = (errors is defined ? errors : null) %}
    {% if errors %}
    <ul class="errors">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</form>
