{% set backgroundImage = block.backgroundImage|length == 0 ? "" : " background: url(" ~  block.backgroundImage|first.url ~ ") no-repeat;   background-size: cover;" %}
{% set parent = craft.entries.slug('programs').first %}
{% set children = parent.getChildren() %}

<section class="home-programs" style="{{ backgroundImage }}">
  <div class="container">
    {% if block.heading %}
      <header>
        <h2>{{ block.heading }}</h2> 
      </header>
    {% endif %}
    {% if block.body %}
      {{ block.body }}
    {% endif %}
    {% if children|length %}
      <hr>
      <h3>{{ parent.title }}</h3>
      <ul>
        {% for child in children %}
          <li><a href="{{ child.url }}">{{ child.linkHeader}}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</section>