{% set backgroundImage = block.backgroundImage|length == 0 ? "" : " background: url(" ~  block.backgroundImage|first.url ~ ") no-repeat;   background-size: cover;" %}
{% set parent = craft.entries.ancestorOf(entry).level(1).first() %}
{% if parent %}
  {% set children = parent.getChildren() %}
{% endif %}

<section class="secondary-hero" style="{{ backgroundImage }}">
  <div class="container">
    {% if block.heading %}
      <header>
        <h1>{{ block.heading }}</h1> 
      </header>
    {% endif %}
    <div class="grid">
      <div class="col col-2-of-3 col--m-1-of-2">
        {% if block.body %}
          {{ block.body }}
        {% endif %}
        {% if  block.mapTitle and block.mapAddress %}
          <div id="gmap_canvas" data-title="{{ block.mapTitle }}" data-address="{{ block.mapAddress }}" data-content="{{ block.mapContent }}" ></div>
        {% endif %}        
      </div>
      <div class="col col-1-of-3 col--m-1-of-2">
        <div class="side-container">
        {% if parent %}
          <h3>{{ parent.title }}</h3>
          {% if children|length %}
          <ul>
            {% for child in children %}
              {% if parent.slug == 'program' %}
                <li><a href="{{ child.url }}">{{ child.linkHeader}}</a></li>
              {% else %}
                <li><a href="{{ child.url }}"{% if child.slug == entry.slug %} class="active"{% endif %}>{{ child.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        {% endif %}
        {% if block.contactButton %}
          {% include 'include/_contactButton' %}
        {% endif %} 
        {% if block.flexibleArea %}
          <div class="flexible">{{ block.flexibleArea }}</div>
        {% endif %}
        </div> 
      </div>
    </div>  
  </div>
</section>