<section class="staff" >
  <div class="container">
    <div class="grid">
      <div class="col col-1-of-4 col--m-1-of-4">
        {% if block.image|length %}
          <img src="{{ block.image|first.url }}" alt="{{ block.image|first }}">
        {% endif %}
      </div>
      <div class="col col-3-of-4 col--m-3-of-4">
        {% if block.staffName %}
          <h2>{{ block.staffName }}</h2>
        {% endif %}
        {% if block.staffTitle %}
          <h3><i>{{ block.staffTitle }}</i></h3>
        {% endif %}
        {% if block.body %}
          {{ block.body }}
        {% endif %}
      </div>
    </div>
  </div>
</section>