{% set backgroundImage = block.backgroundImage|length == 0 ? "" : " background: url(" ~  block.backgroundImage|first.url ~ ") no-repeat;   background-size: cover;" %}

<section class="two-columns" style="{{ backgroundImage }}">
  <div class="container">
    {% if block.heading %}
      <header>
        <h2>{{ block.heading }}</h2> 
      </header>
    {% endif %}
    <div class="grid">
      <div class="col {{ block.columnsLeft }}">
        {% if block.bodyLeft %}
          {{ block.bodyLeft }}
        {% endif %}
      </div>
      <div class="col {{ block.columnsRight }}">
        <div class="side-container">
          {% if block.bodyRight %}
            {{ block.bodyRight }}
          {% endif %}
          {% if block.contactButton %}
            {% include 'include/_contactButton' %}
          {% endif %}   
        </div>
      </div>
    </div>
  </div>
</section>