{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
{% set pages = craft.entries.section('pages') %}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="description" value="{% block metaDescription %}{{ seo.metaDescription }}{% endblock %}">

  <meta name="google-site-verification" content="1Djs-1-zWByyLacEHYfM7DIZzBUBP8nK6zSQvDz5Bik" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ seo.metaTitle }}</title>

	<link rel="home" href="{{ siteUrl }}" />
  <link rel="shortcut icon" href="../favicon.ico">
  {% cache for 3 weeks %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ craft.config.environmentVariables['frontEndAssets'] }}css/vendor/hamburgers/hamburgers.css" />
  <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}/js/vendor/modernizr.custom.js"></script>
	<link rel="stylesheet" href="{{ craft.config.environmentVariables['frontEndAssets'] }}css/site.css">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB4k9so9J4UnQ301RMjRNKoRPEuffWQ9iM&signed_in=true&libraries=places"></script>
  {% endcache %}
	<!--[if lt IE 9]>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
{% cache for 3 weeks %}
  <nav id="mp-menu" class="mp-menu text-gold">
    <div class="mp-level">
      <div class="mobile-top text-white">
        {% block mobileLogo %}
        <a href="#hero"><span class="mobile-logo icon-icons_logo_horizontal"></span></a>
        {% endblock %}
        <a href="#" id="trigger" class="hamburger hamburger--collapse menu-trigger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </a>
      </div>
      <ul>
        {% block nav %}
        <li><a href="#about">About</a></li>
        <li><a href="#our-booth">Our Booth</a></li>
        <li><a href="#package">Packages</a></li>
        <li class="desktop-only text-white nav-logo"><a href="#hero"><span class="icon-icons_logo_horizontal"></span></a></li>
        <li><a href="/galleries">Galleries</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="#contact">Contact</a></li>
       {% endblock %}
      </ul>
    </div>
  </nav>
{% endcache %}
  <div class="scroller"><!-- this is for emulating position fixed of the nav -->
    <div class="scroller-inner">
    	{% block content %}
      {% endblock %}
    	{% block footer %}
      {% cache for 3 weeks %}
      <footer>
        <div class="google-rating">
          
        </div>
        <div class="container text-center">
          <ul>
            {% if siteInfo.facebook %}
            <li class="social"><a class="icon-icons_footer_fb" target="_blank" href="{{ siteInfo.facebook }}"></a></li>
            {% endif %}
            {% if siteInfo.instagram %}
              <li class="social"><a class="icon-icons_footer_insta" target="_blank" href="{{ siteInfo.instagram }}"></a></li>
            {% endif %}
            {% if siteInfo.twitter %}
              <li class="social"><a class="icon-icons_footer_twitter" target="_blank" href="{{ siteInfo.twitter }}"></a></li>
            {% endif %}
            {% if siteInfo.pinterest %}
              <li class="social"><a class="icon-icons_footer_pinterest" target="_blank" href="{{ siteInfo.pinterest }}"></a></li>
            {% endif %}
          </ul>
          <div class="grid-flex">
            <a href="https://www.google.com/maps/place/The+LAB+Photo+Booth/@32.782653,-96.766381,15z/data=!4m2!3m1!1s0x0:0x8351c23da01e5f87?sa=X&ved=0ahUKEwjqgdbI8MzbAhXl64MKHd2oC7kQ_BIIwAEwEA" target="_blank" class="flex-col rating" id="google-rating">
              <div class="rating-up">
                <div id="google-map-plug"></div>              
                <img src="/src/img/google-logo.svg" alt="">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
              </div>
              <div class="rating-bottom">
                GOOGLE <span id="google-rating-number"></span> STAR RATING
              </div>
            </a>
            <div class="flex-col">
            {% block footerlink %}
              <p><a href="mailto:saycheese@eventsbythelab.com">saycheese@eventsbythelab.com</a>  |  <a href="tel:2149454593">214.945.4593</a><br>
              <a href="#about">welcome</a> | <a href="#our-booth">close up</a> | <a href="#our-booth-middle">STEP INTO THE LAB</a> | <a href="#package">PACKAGES AND PRICING</a> | <a href="/faq">FAQ</a></p>
            {% endblock %}
            </div>
             <a href="https://www.yelp.com/biz/the-lab-photo-booth-dallas" target="_blank" class="flex-col" id="yelp-rating">
              <div class="rating-up">
                <img src="/src/img/yelp-logo.svg" alt="">
                <i class="icon-star yelp-star"></i>
                <i class="icon-star yelp-star"></i>
                <i class="icon-star yelp-star"></i>
                <i class="icon-star yelp-star"></i>
                <i class="icon-star yelp-star"></i>
              </div>
              <div class="rating-bottom">
                YELP <span id="yelp-rating-number"></span> STAR RATING
              </div>
            </a>
          </div>          
        </div>
      </footer>
    </div>
  </div>
  {% endcache %}
  {% endblock %}
	{% block scripts_start %}{% endblock %}
    <!--  libraries downloaded from cdn -->
    {% cache for 3 weeks %}
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WWX9HL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WWX9HL');</script>
<!-- End Google Tag Manager -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!--  end: libraries downloaded from cdn -->
    <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/vendor/classie.js"></script>

    <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/vendor/jquery.mobile.custom.min.js"></script>
      <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/module/google-places.js"></script>

  <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/main.js"></script>
  {% endcache %}
</body>
</html>