{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
{% set pages = craft.entries.section('pages') %}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="description" value="{% block metaDescription %}{{ seo.metaDescription }}{% endblock %}">

	<title>{% if title is defined %}{{ title }} - {% endif %}{{ seo.metaTitle }}</title>

	<link rel="home" href="{{ siteUrl }}" />
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ craft.config.environmentVariables['frontEndAssets'] }}css/vendor/hamburgers/hamburgers.css" />
  <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}/js/vendor/modernizr.custom.js"></script>
	<link rel="stylesheet" href="{{ craft.config.environmentVariables['frontEndAssets'] }}css/site.css">
	<!--[if lt IE 9]>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	{% block head_end %}{% endblock %}
</head>
<body>
	{% block body_start %}{% endblock %}
  <nav id="mp-menu" class="mp-menu text-gold">
    <div class="mp-level">
      <div class="mobile-top text-white">
        <a href="#hero"><span class="mobile-logo icon-icons_logo_horizontal"></span></a>
        <a href="#" id="trigger" class="hamburger hamburger--collapse menu-trigger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </a>
      </div>
      <ul>
        {% block nav %}
        <li><a href="#about">About</a></li>
        <li><a href="#our-booth">Our Booth</a></li>
        <li><a href="#package">Packages</a></li>
        <li class="desktop-only text-white nav-logo"><a href="#hero"><span class="icon-icons_logo_horizontal"></span></a></li>
        <li><a href="#about">Galleries</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="#contact">Contact</a></li>
       {% endblock %}
      </ul>
    </div>
  </nav>

  <div class="scroller"><!-- this is for emulating position fixed of the nav -->
    <div class="scroller-inner">
    	{% block content %}
      {% endblock %}
    	{% block footer %}
      <footer>
        <div class="container text-center">
          <ul>
            {% if siteInfo.facebook %}
            <li class="social"><a class="icon-icons_footer_fb" href="{{ siteInfo.facebook }}"></a></li>
            {% endif %}
            {% if siteInfo.instagram %}
              <li class="social"><a class="icon-icons_footer_insta" href="{{ siteInfo.instagram }}"></a></li>
            {% endif %}
            {% if siteInfo.twitter %}
              <li class="social"><a class="icon-icons_footer_twitter" href="{{ siteInfo.twitter }}"></a></li>
            {% endif %}
            {% if siteInfo.pinterest %}
              <li class="social"><a class="icon-icons_footer_pinterest" href="{{ siteInfo.pinterest }}"></a></li>
            {% endif %}
          </ul>
          <p>info@eventsbythelab.com  |  <a href="tel:2149454593">214.945.4593</a><br>
        welcome | close up | come on in | experience packages | FAQ</p>
        </div>
      </footer>
    </div>
  </div>

  {% endblock %}
	{% block scripts_start %}{% endblock %}
    <!--  libraries downloaded from cdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!--  end: libraries downloaded from cdn -->
	<script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/vendor.js"></script>
    <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/vendor/classie.js"></script>

    <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/vendor/jquery.mobile.custom.min.js"></script>
  <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/main.js"></script>
</body>
</html>