{% extends "_layout" %}


{% block content %}
  {% set backgroundImage = entry.aboutBackgroundImage|length == 0 ? "" : " background: url(" ~  entry.aboutBackgroundImage|first.url ~ ") no-repeat; #000" %}
  <section class="text-white parallax" id="about" style="{{ backgroundImage }}">
    <div class="inner">
      <h1>{{entry.aboutHeader}}</h1>
      {{entry.aboutBody}}
    </div>   
  </section>
  <section id="our-booth">
    <h1>{{entry.ourBoothTopHeader}}</h1>
    {{entry.ourBoothTopBody}}
    {% set parent = entry.ourBoothDropdowns %}
    {% include 'include/_getChildren.twig' %}
  </section>
  {% set backgroundImage = entry.ourBoothMiddleBackgroundImage|length == 0 ? "" : " background: url(" ~  entry.ourBoothMiddleBackgroundImage|first.url ~ ") no-repeat; #000" %}
  <section id="our-booth-middle" class="text-white parallax" style="{{ backgroundImage }}">
    <div class="inner">
      <h1>{{entry.ourBoothMiddleHeader}}</h1>
      {{entry.ourBoothMiddleBody}}
    </div>
  </section>
  <section id="our-booth-slide">
   <div class="slides-container">
        <span class="arrow arrow-left fa fa-chevron-left text-white"></span>
        {% for slide in entry.ourBoothSlides %}
          {% set backgroundImage = slide.backgroundImage|length == 0 ? "" : " background: url(" ~  slide.backgroundImage|first.url ~ ") no-repeat; background-size: cover; " %}
          <div class="slide{% if loop.first  %} active{% endif %} {{slide.classes}}" style="{{ backgroundImage }}">
            <h2>{{ slide.title }}</h2>
            {{ slide.body }}
          </div>
        {% endfor %}
        <span class="arrow arrow-right fa fa-chevron-right text-white"></span>
      </div>
  </section>
  <section id="our-booth-bottom">
    <h2>{{entry.ourBoothBottomHeader}}</h2>
    {{entry.ourBoothBottomBody}}
  </section>
  <section id="package">
    <h2>{{ entry.packageHeader }}</h2>
    {% set parent = entry.packageDropdowns %}
    {% include 'include/_getChildren.twig' %}
  </section>


{% endblock %}