{% extends "_layout" %}


{% block content %}
  <section id="hero">
    <div class="icon-icons_logo_veritcal hero-logo"></div>
    <div class="hero-back"></div>
    <div class="hero-play icon-play-circled"></div>
    <video class="hero-video" controls>
      <source src="src/video/TheLab_Short_Video_Homepage_op2.mp4" type="video/mp4">
    </video>
  </section>
  {% set backgroundImage = entry.aboutBackgroundImage|length == 0 ? "" : " background: url(" ~  entry.aboutBackgroundImage|first.url ~ ") no-repeat #000; background-size: cover;" %}
  <section class="text-white parallax" id="about" style="{{ backgroundImage }}">
    <div class="inner">
      <h1>{{entry.aboutHeader}}</h1>
      {{entry.aboutBody}}
      {% include 'include/_contactButton.twig' %}
    </div>   
  </section>
  {% set backgroundColor = entry.ourBoothTopBackgroundColor == '' ? "" : " background-color: " ~  entry.ourBoothTopBackgroundColor ~ ";" %}
  <section id="our-booth" style="{{backgroundColor}}">
    <h1>{{entry.ourBoothTopHeader}}</h1>
    {{entry.ourBoothTopBody}}
    {% set parent = entry.ourBoothDropdowns %}
    {% include 'include/_getChildren.twig' %}
    {% include 'include/_contactButton.twig' %}
  </section>
  {% set backgroundImage = entry.ourBoothMiddleBackgroundImage|length == 0 ? "" : " background: url(" ~  entry.ourBoothMiddleBackgroundImage|first.url ~ ") no-repeat #000; background-size: cover;" %}
  <section id="our-booth-middle" class="text-white parallax" style="{{ backgroundImage }}">
    <div class="inner">
      <h1>{{entry.ourBoothMiddleHeader}}</h1>
      {{entry.ourBoothMiddleBody}}
    </div>
  </section>
  <section id="our-booth-slide">
   <div class="slides-container">
        <span class="arrow desktop-tablet-only arrow-left icon-left-open-big text-white"></span>
        {% for slide in entry.ourBoothSlides %}
          {% set backgroundImage = slide.backgroundImage|length == 0 ? "" : " background: url(" ~  slide.backgroundImage|first.url ~ ") no-repeat; background-size: cover; " %}
          <div class="slide{% if loop.first  %} active{% endif %} {{slide.classes}}" style="{{ backgroundImage }}">
            <h2>{{ slide.title }}</h2>
            {{ slide.body }}
            {% include 'include/_contactButton.twig' %}
          </div>
        {% endfor %}
        <span class="arrow desktop-tablet-only arrow-right icon-right-open-big text-white"></span>
        <div class="index">
          {% for slide in entry.ourBoothSlides %}
            <span class="{% if loop.first  %}icon-icons_navigation_circle_closed{% else %}icon-icons_navigation_circle_open{% endif %}"></span>
          {% endfor %}
        </div>
      </div>
  </section>
  {% set backgroundImage = entry.ourBoothBottomBackgroundImage|length == 0 ? "" : " background: url(" ~  entry.ourBoothBottomBackgroundImage|first.url ~ ") no-repeat #000; background-size: cover;" %}
  <section id="our-booth-bottom" class="parallax text-gold" style="{{ backgroundImage }}">
    <h2>{{entry.ourBoothBottomHeader}}</h2>
    {{entry.ourBoothBottomBody}}
    {% include 'include/_contactButton.twig' %}
  </section>
  {% set backgroundColor = entry.packageBackgroundColor == '' ? "" : " background-color: " ~  entry.packageBackgroundColor ~ ";" %}
  <section id="package" class="text-black" style="{{backgroundColor}}">
    {% if entry.packageBelt|length %}
      <div class="belt belt-up">
        <img src="{{ entry.packageBelt|first.url}} " alt="{{ entry.packageBelt|first}}">
      </div>
      <div class="belt belt-bottom">
        <img src="{{ entry.packageBelt|first.url}} " alt="{{ entry.packageBelt|first}}">
      </div>
    {% endif %}
    <h2>{{ entry.packageHeader }}</h2>
    {{ entry.packageBody }}
    {% set parent = entry.packageDropdowns %}
    {% include 'include/_getChildren.twig' %}
  </section>
  {% set backgroundColor = entry.contactBackgroundColor == '' ? "" : " background-color: " ~  entry.contactBackgroundColor ~ ";" %}
  <section id="contact" class="text-white" style="{{backgroundColor}}">
    <h1>{{ entry.contactHeader }}</h1>
    {{ entry.contactBody}}
    {% include 'include/_form.twig' %}
  </section>


{% endblock %}